﻿@model IEnumerable<CommonCode.Entities.ComponentsViewModel>

<div class="col-lg-12">
    <table>
        <thead>
            <tr class="alert-danger">
                @foreach (var component in Model)
            {
                    <th>@component.ComponentName</th>
                }
            </tr>
        </thead>
        <tbody>
            <tr>
                @foreach (var component in Model)
            {
                    <td>
                        <ul class="list-unstyled">
                            @foreach (var componentItem in component.ListComponentItemsEntity)
                            {
                                <li>
                                    @Html.CheckBox(componentItem.ComponentItemName,
                            new
                            {
                                value = componentItem.ComponentItemID,
                                @class = "ComponentItemChecks"
                            })
                                    @Html.Label(componentItem.ComponentItemName, componentItem.ComponentItemName)
                                </li>
                            }
                        </ul>
                    </td>
                }
            </tr>
        </tbody>
    </table>
    <input type="button" class="btn-primary" value="submit" id="btnSubmit" />
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#btnSubmit").click(function() {
                $('.ComponentItemChecks:checkbox:checked').each(function () {
                    var sThisVal = (this.checked ? $(this).val() : "");
                    alert(sThisVal);
                });
            });
        });
</script>
}
