﻿@{
    ViewBag.Title = "Components List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form ng-controller="ComponentsController" layout="column" ng-cloak>
    <md-content class="md-padding">
        <md-tabs md-selected="0" md-border-bottom>
            <md-tab ng-repeat="comp in Components" label="{{comp.ComponentName}}">
                <div>
                    <div class="left" style="margin:20px 0px 0px 0px">
                        <ul>
                            <md-checkbox ng-repeat="compItem in ComponentItems | filter:{ ComponentID: comp.ComponentID }">
                                {{compItem.ComponentItemName}}
                            </md-checkbox>
                        </ul>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div ng-show="$index==Components.length-1">@Html.ActionLink("Submit", "DownloadZipFile", "Components")</div>
            </md-tab>
        </md-tabs>
    </md-content>
</form>
