﻿@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<h2 align="center">Common Code</h2>
<link href="~/Content/angular-material.min.css" rel="stylesheet" />
<div ng-app="CommonCodeApp">
    <form ng-controller="LoginController" ng-submit="submitForm()"
          align="center" name="loginForm" novalidate class="login active" form-autofill-fix ng-cloak style="align-content:center" md-autofocus>
        <div>
            <div class="form-group">
                <md-input-container flex="">
                    <label for="Username">User name</label>
                    <input required type="text" ng-model="LoginId" class="form-control" name="LoginId" md-autofocus  />
                    <div ng-messages="loginForm.LoginId.$error">
                        <div ng-message="required">This is required</div>
                    </div>
                </md-input-container>
            </div>
            <div class="form-group">
                <md-input-container flex="">
                    <label for="password">Password</label>
                    <input type="password" name="UserPassword" class="form-control" ng-model="UserPassword" required />
                    <div ng-messages="loginForm.UserPassword.$error">
                        <div ng-message="required">This is required</div>
                    </div>
                </md-input-container>
            </div>
            <div class="form-group">
                <button type="submit" ng-disabled="loginForm.LoginId.length ==0  && loginForm.UserPassword.length ==0" class="btn btn-block btn-primary">
                    Login
                </button>
            </div>
        </div>
    </form>
    <span us-spinner="{radius:30, width:8, length: 16}"></span>
</div>
<script src=@Url.Content("~/Scripts/jquery-1.10.2.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular/angular.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-route.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-animate/angular-animate.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-aria/angular-aria.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-material/angular-material.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-messages.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/trNgGrid/trNgGrid.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-spinner/spin.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-spinner/angular-loading-spinner.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-spinner/angular-spinner.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/app/app.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/app/services/modalService.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/app/controllers/LoginController.js") type="text/javascript"></script>