﻿@using Microsoft.AspNet.Identity
@using CommonCode.Common.Helpers
@using (Html.BeginForm("Logout", "Login", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
{
    @Html.AntiForgeryToken()
    <ul class="nav navbar-nav navbar-right">
        <li class="username">
            @UserInfo.UserName
        </li>
        <li class="logoout"><a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
    </ul>
}
