﻿
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="ProjectsController" ng-cloak>
    <section id="fullContent1">
        <div class="page" ng-cloak>
            <div class="pageTitle">
                <div class="col-sm-6">
                    <h3>Projects List</h3>
                </div>
                <div class="col-sm-6 text-right">
                    <md-button class="md-primary md-raised" ng-click="showTabDialog($event,null)">
                        Add New Project
                    </md-button>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading datatables_filter" id="dataTables-example_filter">
                    <span class="formGroup input-group">
                        <input type="text" aria-controls="dataTables-example" placeholder="Search"
                               ng-model="filterBy" ng-change="onChange()" class="form-control ng-pristine ng-untouched ng-valid" />
                        <span class="input-group-btn">
                            <a class="btn clear-filter" ng-show="filterBy.length>0" data-ng-click="clearSearchParams()"><span class="fa fa-remove"></span></a>
                        </span>
                    </span>
                </div>
                <div class="table-flip-scroll">
                    <table tr-ng-grid="" items='Projects' page-items="PageSize" total-items="TotalRecordsCount" on-data-required-delay="5" enable-filtering="false"
                           on-data-required="onServerSideItemsRequested(currentPage, pageItems, filterBy, filterByFields, orderBy, orderByReverse)"
                           fields="['ProjectName','Description','ProjectOwner']" selection-mode="None">
                        <thead>
                            <tr>
                                <th field-name="ProjectID" display-name="ProjectID" enable-filtering="false" enable-sorting="false"></th>
                                <th field-name="ProjectName" display-name="Project Name" enable-filtering="false"></th>
                                <th field-name="Description" display-name="Description" enable-filtering="false"></th>
                                <th field-name="ProjectOwner" display-name="Project Owner" enable-filtering="false"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <a><i class="fa fa-edit margin-right-10" ng-click="showTabDialog($event,gridItem)"></i></a>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td>
                                    <div class="clearfix">
                                        <div class="col-sm-4 text-left">
                                            <span class="form-group">
                                                Show
                                                <md-input-container>
                                                    <md-select ng-model="pPageSizeObj.selected" ng-change="changePageSize()">
                                                        <md-option ng-repeat="item in pageSizeList" ng-value="item.value">
                                                            {{item.text}}
                                                        </md-option>
                                                    </md-select>
                                                </md-input-container>
                                                entries per page
                                            </span>
                                        </div>
                                        <div class="col-sm-8 text-right">
                                            <span tr-ng-grid-pager=""></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <div style="visibility: hidden">
        <div class="md-dialog-container" id="ComponentsList">
            <md-dialog layout-padding>
                <div class="model-heading">
                    <h2>{{HeaderText}}</h2>
                </div>
                <form name="ProjectDetails" novalidate ng-cloak>
                    <md-content class="md-padding">
                        <md-input-container flex="">
                            <label for="ProjectName">Name</label>
                            <input required type="text" ng-model="ProjectName" class="form-control" name="ProjectName" md-autofocus />
                            <div ng-messages="ProjectDetails.ProjectName.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-input-container flex="">
                            <label for="ProjectDescription">Description</label>
                            <input required type="text" ng-model="ProjectDescription" class="form-control" name="ProjectDescription" />
                            <div ng-messages="ProjectDetails.ProjectDescription.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                        <md-tabs md-selected="selectedIndex" md-border-bottom>
                            <md-tab ng-repeat="comp in Components" label="{{comp.ComponentName}}">
                                <div class="tabpadding">
                                    <div ng-repeat="compItem in ComponentItems | filter:{ ComponentID: comp.ComponentID }">
                                        <md-checkbox ng-click="toggle(compItem.ComponentItemID)"
                                                     ng-checked="(compItem.Selected==1)">
                                            {{compItem.ComponentItemName}}
                                        </md-checkbox>


                                        <span class="margin-left-10">

                                            <a class="info" margin-inline" data-toggle="tooltip" data-placement="left" title="{{compItem.HelpText}}">
                                                <i class="fa fa-info-circle" aria-hidden="true"></i>

                                            </a>
                                        </span>
                                    </div>
                                </div>
                            </md-tab>
                        </md-tabs>

                    </md-content>
                    <md-dialog-actions>
                        <md-button class="md-primary md-raised"
                                   ng-click="SaveOrUpdateInfo()">
                            {{AddButtonText}}
                        </md-button>
                        <md-button ng-click="closeDialog()" class="md-primary">
                            Close
                        </md-button>
                    </md-dialog-actions>
                </form>
            </md-dialog>
        </div>
    </div>
</div>
<script>
    $(function () {

        $("[data-toggle=popover]").popover();
        $("[data-toggle=popover-hover]").popover({
            trigger: 'hover'
        });

        $("[data-toggle=tooltip]").tooltip();

    });</script>