﻿@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/angular-material.min.css" rel="stylesheet" />
<div id="wrapper">
    <div class="wrapperContent effect7">

        <div class="title"><img src="~/Content/logo.png" /></div>
        <div ng-app="CommonCodeApp">
            <form ng-controller="LoginController" ng-submit="submitForm()"
                   name="loginForm" novalidate class=" active" form-autofill-fix ng-cloak style="" md-autofocus>
                <div>
                    <div class="form-group">
                        <md-input-container flex="">
                            <label for="Username">User name</label>
                            <input required type="text" ng-model="LoginId" class="form-control" name="LoginId" md-autofocus />
                            <div ng-messages="loginForm.LoginId.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="form-group">
                        <md-input-container flex="">
                            <label for="password">Password</label>
                            <input type="password" name="UserPassword" class="form-control" ng-model="UserPassword" required />
                            <div ng-messages="loginForm.UserPassword.$error">
                                <div ng-message="required">This is required</div>
                            </div>
                        </md-input-container>
                    </div>
                    <div class="form-group">
                        <button type="submit" ng-disabled="loginForm.LoginId.length ==0  && loginForm.UserPassword.length ==0" class="btn btn-block btn-primary">
                            Login
                        </button>
                    </div>
                </div>
            </form>
            <span us-spinner="{radius:30, width:8, length: 16}"></span>
        </div>
    </div>

</div>

<style>
    body, html {
        background-color: #566767 !important;
    }
    .title {
        text-align: center;
        margin-bottom: 10px;
    }
#wrapper {
    clear: both;
    height: 304px;
    margin: 0 auto;
    /*top: 20%;
    position: absolute  ;*/
    margin-top: 10%;
}
.wrapperContent {
    margin: 0 auto;
    min-height: 153px;
    padding: 20px;
    width: 400px;
    background: none repeat scroll 0 0 #f1f1f1;
    border: 1px solid rgba(147, 184, 189, 0.8);
    border-radius: 5px;
    /*box-shadow: 0 2px 5px rgba(105, 108, 109, 0.7), 0 0 8px 5px rgba(208, 223, 226, 0.4) inset;*/
box-shadow: 0 1px 4px rgb/*a*/(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

}

.effect7 {
    
    position: relative;
}

h2 {
    color: #394864;
    font-size: 1.8em;
    margin: 1em 0;
}
a:link {
    color: #335791;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.25s ease 0s;
}
a:hover {
    text-decoration: underline;
    color: black;
}

.effect7:before, .effect7:after {
    border-radius: 100px / 10px;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    content: "";
    left: 10px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: -1;
}
.effect7 {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    position: relative;
}.effect7:after {
    left: auto;
    right: 10px;
    transform: skew(8deg) rotate(3deg);
}
</style>
<script src=@Url.Content("~/Scripts/jquery-1.10.2.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular/angular.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-route.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-animate/angular-animate.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-aria/angular-aria.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-material/angular-material.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-messages.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/trNgGrid/trNgGrid.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-spinner/spin.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-spinner/angular-loading-spinner.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/angular-spinner/angular-spinner.min.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/app/app.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/app/services/modalService.js") type="text/javascript"></script>
<script src=@Url.Content("~/Scripts/app/controllers/LoginController.js") type="text/javascript"></script>